<!DOCTYPE html>
<html>
<head>
  <title>Mis Datos</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/navbar') %>

  <h1>Mis Datos</h1>
  <p><strong>Nombre:</strong> <%= ingeniero.nombre %></p>
  <p><strong>Apellido:</strong> <%= ingeniero.apellido %></p>
  <p><strong>Cédula Profesional:</strong> <%= ingeniero.cedula_profesional %></p>
  <p><strong>Fecha de Registro:</strong> <%= ingeniero.fecha_registro %></p>

  
</body>
</html>
